repo.xml
*.class
*.iml
*.log*
*.logs*
logs
log
.idea
.vscode
target
node_modules
.DS_Store
.terraform/
*.tfstate.backup
*.drawio.png.bkp
*.drawio.png.dtmp
README*.pdf
README*.html
README*.docx
claude/settings.local.json
